@import './reset.css';

.wrapper {
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #000000;
  background-color: #fdfdfb;
}
.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.containerhome {
  max-width: 1132px;

  margin-left: auto;
  margin-right: auto;
}
.containerquality {
  max-width: 967px;
  margin-left: auto;
  margin-right: auto;
}
.containerfooter {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.line {
  border: 1px solid #8b8371;
  width: 50px;
}

.header {
  color: #555248;
  padding-top: 34px;
  padding-bottom: 29px;
  &-row {
    display: flex;
    justify-content: space-between;
    @media (max-width: 680px) {
      flex-direction: column;
      align-items: center;
    }
  }
  &-logo {
    transition: 0.5s;
    &:hover {
      transform: scale(1.2);
    }
    a {
      width: 96px;
      padding-top: 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #555248;
    }

    img {
      width: 19.19px;
      height: 19.21px;
    }
    h1 {
      letter-spacing: 0.14em;
      font-family: 'Playfair Display';
      font-weight: 400;
      font-size: 12px;
      cursor: pointer;
    }
  }
  &-nav {
    @media (max-width: 680px) {
      padding: 20px 0;
    }
    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      li:not(:last-child) {
        margin-right: 64px;
      }
      li {
        a {
          color: #555248;
          transition: 0.2s ease;
          &:hover {
            color: #d4b098;
          }
        }
      }
    }
  }
  &-icons {
    width: 139px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-top: 10px;

    a {
      margin-right: 23px;
    }
    &-like {
      position: absolute;
      width: 13px;
      height: 13px;
      background-color: #e6c8b4;
      border-radius: 7px;
      left: 53px;
      bottom: 12px;
      font-size: 8px;
      text-align: center;
      padding-top: 2px;
      color: #1b1a17;
    }
  }
}
.collection {
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto;
  position: relative;

  &-container {
    width: 340px;
    padding-left: 65px;
    a {
      cursor: default;
    }
  }
  &-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 1120px) {
      flex-direction: column-reverse;
    }
  }
  &-content {
    &-collect {
      font-family: 'Playfair Display';
      font-size: 45px;
      padding-bottom: 39px;
    }
    &-text {
      line-height: 23px;
      font-weight: 300;
      padding-bottom: 64px;
    }
  }
  &-btn {
    width: 205px;
    height: 64px;
    background-color: #444240;
    text-align: center;
    line-height: 64px;

    transition: 0.3s ease;
    &:hover {
      background-color: #8b8371;
    }

    p {
      color: #ffffff;
      font-weight: 500;
      text-transform: uppercase;
      transition: 0.3s ease;
      &:hover {
        color: #444240;
        cursor: pointer;
      }
    }
  }
  &-heading {
    width: 408px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h3 {
      font-family: 'Playfair Display';
      font-size: 45px;
    }
  }
  &-watch {
    max-width: 669px;
    display: flex;
    justify-content: space-between;
    @media (max-width: 1120px) {
      padding: 50px 0;
    }
    @media (max-width: 680px) {
      flex-direction: column;
    }
    &-imgwrap {
      img {
        object-fit: none;
        @media (max-width: 680px) {
          display: block;
          object-fit: cover;
          width: 50%;
          margin: 0 auto;
        }
      }
    }

    &-price {
      width: 138px;
      height: 16px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 120px;
      @media (max-width: 680px) {
        padding-top: 0;
        margin: 0 auto;
      }
    }
    &-options {
      width: 187px;
      height: 16px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 520px;
      @media (max-width: 680px) {
        padding-top: 0;
        margin: 0 auto;
      }
    }
  }
  &-bg-img {
    position: absolute;
    left: 420px;
    top: 0;
    z-index: -1;
    bottom: 1px;
    img {
      width: 100%;
      height: 100%;
      @media (max-width: 1120px) {
        display: none;
      }
    }
  }
}
.popular {
  padding-top: 74px;
  &-content {
    display: flex;
    justify-content: end;
  }
  p {
    text-align: center;
    font-family: 'Playfair Display';

    font-size: 32px;
  }
  &-lookall {
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid #c4c0b6;
    height: 26.5px;
    width: 104px;

    a {
      color: #444240;
      line-height: 18.75px;
      font-weight: 500;
      font-size: 16px;
      transition: 0.2s ease;
      &:hover {
        color: #c4c0b6;
      }
    }
  }
}
.cards {
  margin-bottom: 98px;
  background-color: #ffffff;
  &-content {
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
    @media (max-width: 1120px) {
      flex-direction: column;
      align-items: center;
    }
  }
  &-card {
    margin-top: 27px;

    padding-right: 20px;
    color: #1b1a17;
    font-family: 'Playfair Display', sans-serif;
    background: url('./images/watch_back_1.jpg');

    &-header {
      font-weight: 700;
      font-size: 14px;
      text-transform: uppercase;

      padding-bottom: 10px;
    }
    &-price {
      width: 54px;
      display: flex;
      justify-content: space-between;
      align-items: baseline;

      &-text {
        font-family: 'Prata', sans-serif;
        font-weight: 400;
        font-size: 12px;
        color: #1b1a17;
      }
    }
    &-watch {
      background: url('./images/2.png');
      background-size: contain;
    }
    &-more {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 140px;
      padding-left: 10px;
      padding-top: 20px;
      padding-bottom: 37px;
      &-line {
        width: 30px;
        border: 1px solid #8b8371;
      }
      a {
        font-size: 16px;
        color: #1b1a17;
        transition: 0.2s ease;
        &:hover {
          color: #c4c0b6;
        }
      }
    }
  }
}
.quality {
  height: 519px;
  margin-left: 0;
  margin-right: 0;
  background: url('./images/Component2.jpg') center no-repeat;

  &-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 920px) {
      flex-direction: column;
    }
    &-slider {
      padding-top: 52px;
      @media (max-width: 920px) {
        padding-top: 0px;
        display: contents;
      }
      img {
        @media (max-width: 670px) {
          object-fit: cover;
          width: 50%;
        }
      }
      &-buttonblock {
        margin-left: 375px;
        padding-top: 20px;
        width: 63px;
        height: 12px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: 670px) {
          margin-left: 180px;
        }

        p {
          font-family: 'Prata', sans-serif;
          font-weight: 400;
          font-size: 12px;
          color: #1b1a17;
        }
      }
    }
    &-text {
      a {
        cursor: default;
      }
      @media (max-width: 920px) {
        padding-top: 50px;
      }
      &-head {
        font-family: 'Playfair Display';
        font-size: 32px;
        padding-bottom: 38px;
      }
      &-container {
        width: 376px;

        padding-bottom: 45px;
        p {
          color: #444240;
          font-size: 16px;
          line-height: 150%;
        }
      }
    }
  }
  &-btn {
    width: 205px;
    height: 64px;
    background: #d4b098;
    transition: opacity 0.3s ease;
    &:hover {
      opacity: 0.8;
    }
    p {
      line-height: 64px;
      text-align: center;
      color: #ffffff;
      cursor: pointer;
    }
  }
}
.bottom {
  padding-top: 80px;
  padding-bottom: 90px;
  &-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 1120px) {
      flex-direction: column-reverse;
    }
  }
  &-text {
    &-head {
      padding-bottom: 40px;
      font-family: 'Playfair Display';
      font-size: 32px;
      line-height: 43px;
      color: #1b1a17;
    }
    &-paragraph {
      padding-bottom: 120px;
      width: 376px;
      font-size: 16px;
      line-height: 27px;

      color: #444240;
    }
    &-logos {
      width: 93px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      a {
        transition: transform 0.3s ease-in-out;
        &:hover {
          transform: translateY(-3px);
        }
      }
    }
  }
  &-images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 629px;
    @media (max-width: 1120px) {
      padding-bottom: 50px;
    }
    @media (max-width: 920px) {
      margin-top: 170px;
    }
    @media (max-width: 630px) {
      flex-direction: column-reverse;
    }
    &-big {
      @media (max-width: 630px) {
        padding-bottom: 20px;
      }
    }
    &-twosmall {
      @media (max-width: 630px) {
        display: flex;
        flex-direction: column;
      }
      img:first-child {
        margin-bottom: 10px;
      }
    }
  }
}
.footer {
  background-color: #444240;
  padding: 0 20px;
  a {
    color: rgba(255, 255, 255, 0.75);
  }

  &-content {
    padding-top: 70px;
    padding-bottom: 66px;
    display: flex;
    justify-content: space-between;
    @media (max-width: 920px) {
      padding-right: 50px;
      padding-left: 50px;
    }
    @media (max-width: 650px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-row-gap: 50px;
    }

    &-info {
      &-logo {
        width: 110px;
        padding-bottom: 22px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        p {
          font-family: 'Playfair Display';
          text-transform: uppercase;
          color: #ffffff;
          font-weight: 700;
          font-size: 14px;
        }
      }
      &-tel {
        padding-bottom: 15px;
        color: rgba(255, 255, 255, 0.75);
        font-size: 12px;
      }
      &-email {
        color: rgba(255, 255, 255, 0.75);
        padding-right: 10px;
      }
    }
    &-block {
      width: 180px;
      padding-top: 5px;
      &-head {
        padding-bottom: 33px;
        font-weight: 700;
        font-size: 14px;
        text-transform: uppercase;
        color: #ffffff;
      }
      &-links {
        display: flex;
        flex-direction: column;
        height: 85px;
        &-link {
          padding-bottom: 15px;
          a {
            font-size: 12px;

            transition: 0.2s ease;
            &:hover {
              color: #d4b098;
            }
          }
        }
      }
    }
  }
}
